# Newline format in Windows(CR-LF)
*.bat text eol=crlf
*.ini text eol=crlf
Documents/*.txt text eol=crlf
Windows/* eol=crlf

# Newline format in Linux/Mac(LF)
*.conf text eol=lf
*.plist text eol=lf
*.sh text eol=lf

# Binary files
*.exe binary
